@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .main{
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    .card{
        border: 0.1px solid black;
        display: inline-block;
        margin: auto;
        text-align: center;
        border-radius: 5px;

    }

    .heading{
        font-weight: bolder;
        font-size: 2em;
        color: var(--secondary);
    }
    .text_color{
        color: var(--primary);
    }
    .big_text{
        font-weight: bold;
        font-size: 1em;
    }
    .normal_odkaz{
        color: var(--primary);
        text-decoration: underline;
    }
    .buttn{
        background-color: var(--primary);
        width: 50%;
        padding: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 5px;
    }
    .card__opinions{
        list-style-image: url(../images/check.svg);
    }

}


