@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .main{
    }
    .card{
        border: 0.1px solid rgb(136, 136, 136);
        display: inline-block;
        margin: auto;
        border-radius: 10px;
        box-shadow: rgb(163, 161, 161) 2px 2px 2px;
        margin: 1em;
    }

    .heading{
        font-weight: bolder;
        font-size: 2em;
        color: var(--secondary);
    }
    .text_color{
        color: var(--primary);
    }
    .big_text{
        font-weight: bold;
        font-size: 2em;
    }
    .normal_odkaz{
        color: var(--primary);
        text-decoration: underline;
    }
    .buttn{
        background-color: var(--primary);
        padding: 1.2em 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 15px;
        color: var();
        display: block;
        text-decoration: none;
        text-align: center;
        color: white;
    }
    .card__opinions{
        list-style-image: url(../images/check.svg);
        margin-top: 1em;
    }
    .card__opinions_cross{
        list-style-image: url(../images/cross.svg);
    }
    .text_smh {
        margin-top: 2em;
    }
    .text_smh2 {
        margin-top: -1em;
    }
}


